<div class="row">
	<div class="large-6 large-offset-3 column">
		<form class="form" enctype="multipart/form-data" action="/album/new" method="POST">
			<input type="text" placeholder="Album Title" name="title">
			<label>Cover Image<input type="file" accept="image/*" name="photo"></label>
			<input type="submit" value="Create Album" class="button">
		</form>
	</div>
</div>